.git
.gitignore
node_modules
.next
out
build
coverage
storage
*.log
.env
.env.local
.env.*.local
.env.production
.DS_Store
.vscode
tests
deploy
docs
infra
.github
**/.terraform
*.tfstate*
*.tfplan
README.md
docker-compose*.yml
Dockerfile
.dockerignore
tsconfig.tsbuildinfo
